.cases-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.cases-form-detail-sec {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: red;
}

.cases-form-detail-top {
  padding: 0.5% 0% 0.5% 2%;
}

.cases-form-detail-content {
  display: flex;
  width: 100%;
  background-color: antiquewhite;
}

.cases-form-detail-content-left,
.cases-form-detail-content-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cases-form-detail-content-left label {
  padding-left: 5%;
}
